:root {
  /* colors */
  --primary-100: #c5e5fc;
  --primary-500: #49a6e9;
  --primary-700: #1a6aa2;
  --grey-400: #94a3b8;
  --white: #fff;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-header .name {
  color: var(--white);
  font-size: 40px;
  letter-spacing: 5px;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--white);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}

.nav-toggle:hover {
  color: var(--primary-700);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}

.grad {
  position: static;
  background: linear-gradient(to right, #090979, #0072ff) border-box;
}

.links-container .links a {
  color: var(--white);
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  padding: 0.6rem 1.2rem;
  transition: var(--transition);
  font-size: 20px;
}

.links-container .links a:hover {
  background: var(--primary-100);
  color: var(--primary-500);
  padding-left: 1.5rem;
}
/* 160px */

.links-container {
  overflow: hidden;
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  .grad {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: none;
  }
  .nav-toggle {
    display: none;
  }
  .nav-header {
    padding: 0;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .links-container {
    height: auto !important;
  }
  .links-container .links {
    display: flex;
    gap: 1rem;
  }
  .links-container .links a {
    padding: 0;
  }
  .links-container .links a:hover {
    padding: 0;
    background: transparent;
  }
}
