.charts-container {
  margin-top: 4rem;
  text-align: center;
}

.charts-container h4 {
  text-align: center;
  margin-bottom: 0.75rem;
}

.charts-container button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--primary-500);
  font-size: 1.25rem;
  cursor: pointer;
}
