.complaint .messages {
  background: #efeff0;
  border-radius: 8px;
  padding: 20px !important;
  padding-right: 0 !important;
}

.complaint .focus {
  outline: none;
}

.complaint .message {
  padding: 10px;
  background: #0257dd3b;
  border-radius: 8px;
  color: rgb(0 0 0 / 84%);
  line-height: 21px;
  letter-spacing: 1.5px;
  word-break: break-all;
}

.complaint .message.sent {
  background-color: #0257dd96;
}

.complaint .date {
  opacity: 0.58;
  font-size: 14px;
  font-weight: bold;
}

.complaint .date.sent {
  text-align: right;
}

.complaint textarea {
  height: 70px !important;
}

.complaint .send {
  background-color: #6395e5;
  padding: 9px;
  border-radius: 50%;
  transform: rotate(45deg);
  font-size: 22px;
  color: white;
  cursor: pointer;
  width: 40px;
}

.complaint ul.status {
  position: relative;
  padding: 20px 12px 10px;
}

.complaint ul.status:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  top: 0;
  left: -5px;
  background-color: #0257dd;
  animation-name: timeline;
  animation-duration: 2s;
}

.complaint ul li {
  font-size: 18px;
  letter-spacing: 0.6px;
  position: relative;
}

.complaint ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

.complaint ul.status li:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid #0257dd;
  background: white;
  top: 4px;
  left: -23px;
  animation-name: bullet;
  animation-duration: 1s;
}

.complaint ul li p:not(:last-of-type) {
  margin-bottom: 8px;
}

.complaint ul li p:first-child {
  font-weight: bold;
  font-size: 17px;
  opacity: 0.7;
}

.complaint ul li p:nth-child(2) {
  font-size: 16px;
  opacity: 0.7;
}

.complaint ul li p:last-child {
  font-size: 15px;
  opacity: 0.58;
}

@keyframes timeline {
  from {
    height: 5%;
  }
  to {
    height: 100%;
  }
}

@keyframes bullet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
