.faq-item i.arrow {
  font-size: 30px;
  line-height: 1.25;
  color: #025fe6;
}

.faq-item h1 {
  font-size: 30px;
  text-transform: capitalize;
  color: #025fe6;
  letter-spacing: 2px;
}

.qa {
  letter-spacing: 1px;
}

.qa:not(:last-of-type) {
  margin-bottom: 20px;
}

.qa p:first-child {
  font-size: 17px;
  line-height: 2.2;
}

.qa p:last-child {
  font-size: 15px;
  line-height: 1.6;
}
