.complaint {
  padding: 0 0 15px;
  text-align: center;
  font-weight: bold;
  opacity: 0.8;
  transition: all 0.6s;
}

.complaint:hover {
  opacity: 1;
}

.complaint a {
  color: #6c757d;
}

.complaint:not(:last-of-type) {
  border-bottom: 1px solid #00000024;
}

.complaint i {
  font-size: 25px;
  position: relative;
  top: 3px;
  color: #0462db;
}

.complaint-name {
  font-size: 20px;
}

.complaint p.complaint-date-created,
.complaint p.complaint-last-updated {
  font-size: 15px;
}
