@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-sky-500;
}

body {
  background: #f2f5f7;
  font-family: "Roboto", sans-serif;
}

section {
  @apply px-10 sm:px-16 md:px-28 lg:px-40 xl:px-60 py-12;
}

.bg-primary-color {
  @apply bg-[conic-gradient(at_left,_var(--tw-gradient-stops))] from-sky-400 to-blue-800;
}

.main {
  min-height: 100vh !important;
  background: rgba(0, 0, 0, 0) url(https://wallpapercave.com/wp/wp3077568.jpg)
    no-repeat scroll center center/cover;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  padding-top: 50px;
}

@media (min-width: 800px) {
  .main {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .main {
    padding-top: 80px;
  }
}

.main:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: -2;
  opacity: 0.94;
  @apply bg-sky-600;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
