.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  padding: 5px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px 25px 5px 10px;
}

.search-icon-container {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.search-icon {
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-icon:hover {
  color: #333;
  transform: scale(1.1);
}
