.shape-bottom {
  position: absolute;
  top: auto;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: -1;
}

.shape-bottom svg {
  overflow: hidden;
  width: 100%;
  line-height: 0;
  direction: ltr;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}