.admin-page-content {
  color: var(--black-color);
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 50px 30px 0;
  transition: margin-left 1.2s;
}

@media (min-width: 576px) {
  .admin-page-content {
    padding: 60px 40px 0;
  }
}

@media (min-width: 768px) {
  .admin-page-content {
    padding: 75px 70px 0;
  }
}

@media (min-width: 992px) {
  .admin-page-content {
    padding: 90px 100px 0;
  }
}

.admin-page-content h1 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
