.admin-page-content {
  color: var(--black-color);
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 50px 30px 0;
  transition: margin-left 1.2s;
}

@media (min-width: 576px) {
  .admin-page-content {
    padding: 60px 40px 0;
  }
}

@media (min-width: 768px) {
  .admin-page-content {
    padding: 75px 70px 0;
  }
}

@media (min-width: 992px) {
  .admin-page-content {
    padding: 90px 100px 0;
  }
}

.admin-page-content h1 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.admin-page-content .table-heading p {
  font-size: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  cursor: pointer;
}

.admin-page-content .table-row {
  font-size: 16px;
  letter-spacing: 0.8px;
  opacity: 0.8;
  overflow-wrap: break-word;
}

@media (min-width: 1200px) {
  .admin-page-content .table-row {
    font-size: 17px;
  }
}

.admin-page-content .table-heading,
.admin-page-content .table-row:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.admin-page-content .table-heading svg {
  font-size: 15px;
  margin-left: 10px;
}
