.cards .card {
  background-color: #242526;
  padding: 25px 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  color: #ebedef;
  letter-spacing: 1px;
}

.cards .card i {
  font-size: 40px;
  margin-bottom: 15px;
}

.cards .card .card-title {
  font-size: 22px;
}

.cards .card .card-number {
  font-size: 25px;
}

canvas {
  height: 450px !important;
  width: 100% !important;
}
