.cards .card {
  background-color: #242526;
  padding: 30px 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
}

.cards .card i {
  font-size: 45px;
}

.cards .card .card-title {
  font-size: 25px;
}

.cards .card .card-number {
  font-size: 30px;
}